.header {
  // position: absolute;
  width: 100%;
  background: $main-gradient;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}

.header__logo {
  margin-left: auto;
}

.header__logo svg {
  fill: $color-default-white;
}

.header__phone {
  position: relative;
  margin-left: 10px;
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: $color-default-white;
  user-select: none;
  transition: $trans-default;


  &:focus,
  &:focus-within {
    outline: none;
  }

}
